DISCOVERY_PORT=3001
QUALIFICATION_PORT=3002
MONGODB_PORT=27017
DISCOVERY_MONGODB_URI=mongodb://localhost:27017/scout_discovery
QUALIFICATION_MONGODB_URI=mongodb://localhost:27017/scout_qualification
APIFY_API_TOKEN=secret
